/* The styling of the website is supposed to be relaxing, peaceful, and may bring the users into meditation. Or at least feeling calm and a bit of joyful. The design is playful and slightly exciting as it follows a game theme. All the illustrations were thoughtfully sourced in a same style to maintain the look of the website, because there are many different elements so they should maintain the cohesion. */
/* The font choice is playful as for the heading because it's like a welcome for users to start the interactivity. Once it goes to an end, when the text ultimately appears, I used another font which brings calmness to the eyes and also supports the encouring meaning of the bible verses. The contrast in colour makes it easy to read and the text on the background of nature is very soothing. */
/* While the bible verses - text part - bring peace, the main interaction with the fruits are exciting with colourful elements. This contrast enhances the experience of healing. Learning is not that boring.  */
/* The fruit is slightly pop up when hovering to indicate that it is clickable and there is also a little prompt at the bottom of the page for instruction. Correspoding sound effects support the excitement of this little game. */
/* Once the fruit is chosen, it appears onto the plate and is ready to be clicked on to be cut. Once it is cut, the corresponding bible verse appears in the sky area of the background. */
/* With the choice of GIF as background, it helps a lot in bringing the liveliness and also works well with the background music. */
/* Also, I worked on a lot with the position of the fruits as I don't them to look fake upon a bowl. Initially, they looked quite distant from one another, so I figured it out to let them stay close by, even after being chosen and taken out of the original spot. */
body {
  font-family: "Barriecito", system-ui;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzBteXBtcWEyeHBxbXJiczEzZmZjMWw2OWcybG9peTFmd2tpbjMyNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/vN3L03gNSTmXQGaNd2/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 30%;
}

h1 {
  font-size: 3rem;
  /* width: 600px; */
  color: rgb(0, 47, 69);
  text-align: center;
  margin-top: 50px;
}

#title {
  font-size: 3rem;
  color: rgb(0, 47, 69);
  text-align: center;
  margin-top: 50px;
}

#text {
  display: flex;
  flex-direction: column;
  gap: -10px;
  justify-content: center;
}

#row1 {
  position: absolute;
  bottom: 85%;
}
#row2 {
  position: absolute;
  bottom: 60%;
}

#table {
  position: fixed;
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: center;
  bottom: 0;
}
.fruitrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.bowl {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: fixed;
  bottom: 24.5%;
  left: 11%;
}

.fruit {
  width: 40%;
  max-width: 170px;
  transition: transform 0.3s;
  cursor: pointer;
}

.fruit:hover {
  transform: scale(1.1);
}

.plate {
  position: relative;
  height: 100px;
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
  left: 205px;
  bottom: 140px;
  /* padding: 20px;
  margin-left: 20px; */
}

.displayed-fruit {
  width: 100%; /* Consistent sizing relative to plate */
  height: auto; /* Maintain aspect ratio */
  max-width: 180px;
}

.cut-fruit {
  width: 100%;
  max-width: 180px;
}

.verse-text {
  font-family: "Edu QLD Hand", cursive;
  /* font-family: "Winky Rough", sans-serif; */
  width: 650px;
  /* display: none; */
  /* position: relative; */
  top: 10%;
  color: rgb(0, 47, 69);
  font-size: 1.2rem;
  font-weight: 450;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5); */
  /* padding: 10px; */
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 15px;
}

#book {
  font-family: "Edu QLD Hand", cursive;
  /* font-family: "Winky Rough", sans-serif; */
  width: 650px;
  /* display: none; */
  /* position: relative; */
  top: 10%;
  color: rgb(0, 47, 69);
  font-size: 1.2rem;
  font-weight: 450;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5); */
  /* padding: 10px; */
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 15px;
}

#choose-another {
  position: absolute;
  bottom: 12%;
  text-align: center;
  background-color: rgb(230, 255, 233);

  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  display: none;

  border: none;
  border-radius: 8px;
  display: none;
}

.mute-button {
  width: 40px;
  position: absolute;
  bottom: 20px;
  right: 60px;
  background: #6eb7ab;
  border: #244a01;
  padding: 5px 10px;
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
}

#prompt {
  position: absolute;
  bottom: 12%;
  text-align: center;
  width: 100%;
  opacity: 0.6;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  /* display: none; */
}

/* Set proper position for the fruits */
#fruit1 {
  position: relative;
  width: 30%;
  bottom: -15px;
}

#fruit2 {
  position: relative;
  width: 24%;
  bottom: 8px;
}

#fruit3 {
  width: 22%;
  position: relative;
  left: 25px;
}

#fruit4 {
  width: 24%;
  position: relative;
  left: 20px;
}

#fruit5 {
  width: 28%;
  position: relative;
}

#fruit6 {
  width: 23%;
  position: relative;
  left: 22px;
}

#fruit7 {
  width: 22%;
  position: relative;
  left: 9px;
  bottom: -5px;
}

#fruit8 {
  width: 17%;
  position: relative;
  left: 5px;
}

#fruit9 {
  width: 30%;
  position: relative;
  left: -20px;
  bottom: 0px;
}

/* Bottom part */

#c-button {
  width: 30px;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #6eb7ab;
  border: #244a01;
  /* padding: 15px 20px; */
  /* border: none; */
  border-radius: 5px;
  cursor: pointer;
}

#copyright {
  padding: 60px;
  width: 600px;
  margin: 120px;
  font-size: 1rem;
  font-size: 1rem;
  color: rgb(6, 59, 84);
  text-align: center;
}
