body {
  font-family: "Barriecito", system-ui;
  display: flex;
  justify-content: space-between; /* Arrange bowl and plate areas */
  align-items: center;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzBteXBtcWEyeHBxbXJiczEzZmZjMWw2OWcybG9peTFmd2tpbjMyNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/vN3L03gNSTmXQGaNd2/giphy.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 30%;
}

h1 {
  font-size: 3rem;
  /* width: 600px; */
  color: rgb(0, 47, 69);
  text-align: center;
  margin-top: 50px;
}

#text {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: center;
}

#row1 {
  position: absolute;
  bottom: 95%;
}
#row2 {
  position: absolute;
  bottom: 65%;
}

#table {
  position: fixed;
  width: 70%;
  height: 60%;
  display: flex;
  justify-content: center;
  bottom: 0;
}
.fruitrow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 60%; /* Adjust width to fit layout */
  /* margin: 0 auto; Center the bowl area */
}
.bowl {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%; /* Adjust width to fit layout */
  /* margin: 0 auto; Center the bowl area */
  position: fixed;
  bottom: 24.5%;
  left: 11%;
}

.fruit {
  width: 40%;
  max-width: 170px;
  transition: transform 0.3s;
  cursor: pointer;
}

.fruit:hover {
  transform: scale(1.1);
}

.plate {
  position: relative;
  height: 100px;
  max-width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgba(255, 255, 255, 0.8); */
  left: 205px;
  bottom: 140px;
  /* padding: 20px;
  margin-left: 20px; */
}

.displayed-fruit {
  width: 100%; /* Consistent sizing relative to plate */
  height: auto; /* Maintain aspect ratio */
  max-width: 180px;
}

.cut-fruit {
  width: 100%;
  max-width: 180px;
}

.verse-text {
  width: 600px;
  /* display: none; */
  /* position: relative; */
  top: 10%;
  color: rgb(0, 47, 69);
  font-size: 1.5rem;
  text-align: center;
  /* background: rgba(0, 0, 0, 0.5); */
  /* padding: 10px; */
  border-radius: 10px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  margin-top: 20px;
}

#choose-another {
  position: absolute;
  bottom: 12%;
  text-align: center;
  background-color: rgb(230, 255, 233);

  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  display: none;

  border: none;
  border-radius: 8px;
  display: none;
}

.mute-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background: #f4c897;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#prompt {
  position: absolute;
  bottom: 12%;
  text-align: center;
  width: 100%;
  opacity: 0.6;
  padding: 5px;
  border-radius: 5px;
  font-size: 16px;
  text-align: center;
  /* display: none; */
}

/* Set proper position for the fruits */
#fruit1 {
  position: relative;
  width: 30%;
  bottom: -15px;
}

#fruit2 {
  position: relative;
  width: 24%;
  bottom: 10px;
}

#fruit3 {
  width: 22%;
  position: relative;
  left: 25px;
}

#fruit4 {
  width: 24%;
  position: relative;
  left: 20px;
}

#fruit5 {
  width: 28%;
  position: relative;
}

#fruit6 {
  width: 23%;
  position: relative;
  left: 22px;
}

#fruit7 {
  width: 22%;
  position: relative;
  left: 9px;
  bottom: -5px;
}

#fruit8 {
  width: 17%;
  position: relative;
  left: 5px;
}

#fruit9 {
  width: 30%;
  position: relative;
  left: -20px;
  bottom: 0px;
}
